h1{
  text-align:center;
  font-family: abril fatface;
  color: rgb(250, 220, 48);

}
ul {
  margin: 12px auto;
  padding: 20px 20px;
}
li {
  display: inline;
  text-align: center;
  padding: 200px 80px;
  font-weight: 200;
  font-family: abril fatface;
  font-size: large;
 
}

a {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: rgb(250, 220, 48);
}
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    position: center;
  }
body {
  background-color: rgb(10, 10, 10);
  
 
}

.jumbotron{
  background-color: rgb(10, 10, 10);
  color:rgb(250, 220, 48);
}