h1{
  text-align:center;
  font-family: abril fatface;
  color: rgb(250, 220, 48);

}
ul {
  margin: 12px auto;
  padding: 20px 20px;
}
li {
  display: inline;
  text-align: center;
  padding: 200px 80px;
  font-weight: 200;
  font-family: abril fatface;
  font-size: large;
 
}

a {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: rgb(250, 220, 48);
}
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    position: center;
  }
  .img2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: auto;
    margin-bottom: auto;
    position: center;
    height: 20%;
  }
body {
  background-color: rgb(10, 10, 10);
  
 
}

.jumbotron{
  background-color: rgb(10, 10, 10);
  color:rgb(250, 220, 48);
}
p{
  color: whitesmoke;
  text-align: left;
  font-family: bree serif;
  font-size: 16px;
  /* border:rgb(250, 220, 48);;
  border-style: solid; */
}
.rowimg{
  float: left;
  height: auto;
  width: 150px;
  margin: 15px;
  
  
}
.rowimg2{
  float: right;
  height: auto;
  width: 150px;
  margin: 15px;

}

h3{
  color: whitesmoke;
  text-align: center;
  font-family: bree serif;
  font-size: 20px;
  padding: 20px;
}
span{
  color:rgb(54, 230, 171);
  text-align: center;

}
h2{
  font-size:18px;
  text-align: left;
  
}
strong{
  font-family: bree serif;
  font-size: 16px;
  border:rgb(250, 220, 48);
}
.border{
  border:rgb(250, 220, 48);;
  border-style: solid;
  padding: 8px;
}
.left-list{
  display: inline;
  text-align: left;
  padding: 20px 80px 10px 0px;
  font-weight: 200;
  font-family: abril fatface;
  font-size: large;
  list-style-type: decimal;
}
.left-list a{
  text-align: left;
 
}
.left-list li{
  padding: 0;
  margin: 0;
  list-style-type: decimal;
}